<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Netflex</title>
    <link rel="stylesheet" href="~/css/delete.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/font-awesome/css/all.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Netflex.styles.css" asp-append-version="true" />
</head>

<body class="text-white-50">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark">
            <div class="container-fluid container-xxl">
                <a class="navbar-brand text-white-80 fw-bold text-sm-end" asp-area="" asp-controller="home"
                    asp-action="index">NETFLEX</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" data-bs-theme="dark">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="home" asp-action="index">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="film" asp-action="index">Phim lẻ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="serie" asp-action="index">Phim bộ</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Thể loại
                            </a>
                            <div class="dropdown-menu dropdown-menu-dark">
                                <div class="dropdown-grid text-white-50">
                                    @foreach (var item in ViewBag.Genres)
                                    {
                                        <a class="dropdown-item"
                                            href="@Url.Action("Index", "Film", new { genreId = item.Id })">
                                            <i class="fa-solid fa-caret-right pe-2"></i>@item.Name</a>
                                    }

                                    <a class="dropdown-item" href="#">
                                        <i class="fa-solid fa-caret-right pe-2"></i>Phim Cổ Trang</a>
                                    <a class="dropdown-item" href="#"><i class="fa-solid fa-caret-right pe-2"></i>Phim
                                        Bí
                                        Ẩn</a>
                                    <a class="dropdown-item" href="#"><i class="fa-solid fa-caret-right pe-2"></i>Phim
                                        Võ
                                        Thuật</a>
                                    <a class="dropdown-item" href="#"><i class="fa-solid fa-caret-right pe-2"></i>Phim
                                        Phiêu
                                        Lưu</a>
                                    <a class="dropdown-item" href="#"><i class="fa-solid fa-caret-right pe-2"></i>Phim
                                        Hình
                                        Sự</a>
                                    <a class="dropdown-item" href="#"><i class="fa-solid fa-caret-right pe-2"></i>Phim
                                        Viễn
                                        Tưởng</a>
                                    <a class="dropdown-item" href="#"><i class="fa-solid fa-caret-right pe-2"></i>Phim
                                        Thần
                                        Thoại</a>
                                    <a class="dropdown-item" href="#"><i class="fa-solid fa-caret-right pe-2"></i>TV
                                        Shows</a>
                                    <a class="dropdown-item" href="#"><i class="fa-solid fa-caret-right pe-2"></i>Phim
                                        Tâm
                                        Lý</a>
                                    <a class="dropdown-item" href="#"><i class="fa-solid fa-caret-right pe-2"></i>Phim
                                        Kinh
                                        Dị</a>
                                    <a class="dropdown-item" href="#"><i class="fa-solid fa-caret-right pe-2"></i>Phim
                                        Kịch
                                        Tính</a>
                                    <a class="dropdown-item" href="#"><i class="fa-solid fa-caret-right pe-2"></i>Phim
                                        Hài</a>
                                    <a class="dropdown-item" href="#"><i class="fa-solid fa-caret-right pe-2"></i>Phim
                                        Gia
                                        Đình</a>
                                    <a class="dropdown-item" href="#"><i class="fa-solid fa-caret-right pe-2"></i>Phim
                                        Netflix</a>
                                    <a class="dropdown-item" href="#"><i class="fa-solid fa-caret-right pe-2"></i>Phim
                                        Hoạt
                                        Hình</a>
                                    <a class="dropdown-item" href="#"><i class="fa-solid fa-caret-right pe-2"></i>Phim
                                        Tình
                                        Cảm</a>
                                    <a class="dropdown-item" href="#"><i class="fa-solid fa-caret-right pe-2"></i>Phim
                                        Hành
                                        Động</a>
                                    <a class="dropdown-item" href="#"><i class="fa-solid fa-caret-right pe-2"></i>Phim
                                        Chiến
                                        Tranh</a>
                                    <a class="dropdown-item" href="#"><i class="fa-solid fa-caret-right pe-2"></i>Phim
                                        BL</a>
                                    <a class="dropdown-item" href="#"><i class="fa-solid fa-caret-right pe-2"></i>Phim
                                        Khoa
                                        Học</a>
                                    <a class="dropdown-item" href="#"><i class="fa-solid fa-caret-right pe-2"></i>Phim
                                        Âm
                                        Nhạc</a>
                                    <a class="dropdown-item" href="#"><i class="fa-solid fa-caret-right pe-2"></i>Phim
                                        Chính
                                        Kịch</a>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="countryDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Quốc gia
                            </a>
                            <div class="dropdown-menu dropdown-menu-dark">
                                <div class="dropdown-grid">
                                    @foreach (var item in ViewBag.Countries)
                                    {
                                        <a class="dropdown-item"
                                            href="@Url.Action("Index", "Film", new { countryId = item.Id })">
                                            <i class="fa-solid fa-caret-right pe-2"></i>@item.Name</a>
                                    }
                                    <a class="dropdown-item" href="#"><i class="fa-solid fa-caret-right pe-2"></i>Phim
                                        Âu Mỹ</a>
                                    <a class="dropdown-item" href="#"><i class="fa-solid fa-caret-right pe-2"></i>Phim
                                        Hàn Quốc</a>
                                    <a class="dropdown-item" href="#"><i class="fa-solid fa-caret-right pe-2"></i>Phim
                                        Trung Quốc</a>
                                    <a class="dropdown-item" href="#"><i class="fa-solid fa-caret-right pe-2"></i>Phim
                                        Nhật Bản</a>
                                    <a class="dropdown-item" href="#"><i class="fa-solid fa-caret-right pe-2"></i>Phim
                                        Đài Loan</a>
                                    <a class="dropdown-item" href="#"><i class="fa-solid fa-caret-right pe-2"></i>Phim
                                        Hồng Kông</a>
                                    <a class="dropdown-item" href="#"><i class="fa-solid fa-caret-right pe-2"></i>Phim
                                        Thái Lan</a>
                                    <a class="dropdown-item" href="#"><i class="fa-solid fa-caret-right pe-2"></i>Phim
                                        Ấn Độ</a>
                                    <a class="dropdown-item" href="#"><i class="fa-solid fa-caret-right pe-2"></i>Phim
                                        Philippines</a>
                                    <a class="dropdown-item" href="#"><i class="fa-solid fa-caret-right pe-2"></i>Phim
                                        Indonesia</a>
                                    <a class="dropdown-item" href="#"><i class="fa-solid fa-caret-right pe-2"></i>Phim
                                        Singapore</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <form class="d-none d-lg-flex search-box">
                        <input class="search" placeholder="Tìm kiếm..." aria-label="Search">
                        <button type="submit" class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                    @await Html.PartialAsync("_LoginPartial")

                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid container-xxl banner text-white-50 text-center">Xem phim mới nhất chất lượng cao không
        giới hạn, truy cập
        ngay
        <b>NETFLEX
        </b>.com
    </div>
    <div class="container-fluid container-xxl content">
        <div class="row d-flex justify-content-center">
            <div class="main-content col-12 col-lg-8 col-xl-9">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
            <div class="sidebar d-none d-lg-block col-lg-4 col-xl-3">
                <div class="d-flex justify-content-between">
                    <p>Năm phát hành</p>
                    <i class="fa-solid fa-caret-down"></i>
                </div>
                <ul class="menu-year overflow-auto">
                    @for (int i = DateTime.Now.Year; i >= 1981; i--)
                    {
                        <li><a href="@Url.Action("index", "Film", new { year = i })">@i</a></li>
                    }
                </ul>
                <a href="@Url.Action("Detail", "Serie", new { id = ViewBag.StarSeries[0].Id })"
                    class="d-block movie-banner position-relative my-4">
                    <div class="position-absolute bottom-0  movie-banner-content p-2">
                        <p class="m-0 text-white text-truncate" style="max-width:10rem;">@ViewBag.StarSeries[0].Title
                        </p>
                        <span class="p-0 text-white-50">@ViewBag.StarSeries[0].ProductionYear</span>
                    </div>
                    <img src="@ViewBag.StarSeries[0].Poster" alt="Movie Poster">
                </a>
                <div class="rank">
                    @for (int i = 1; i < ViewBag.StarSeries.Count; i++)
                    {
                        var item = ViewBag.StarSeries[i];
                        <a class="movie-item" href="@Url.Action("Detail", "Serie", new { id = item.Id })">
                            <img src=@item.Poster alt="Movie Poster">
                            <div class="p-2">
                                <p class="text-truncate" style="max-width:10rem;">@item.Title
                                </p>
                                <span class="rating"><i class="fa-solid fa-star"></i>&nbsp;7.8</span> <span
                                    class="text-white-50">@item.ProductionYear</span>
                            </div>
                        </a>
                    }
                </div>
            </div>

        </div>
    </div>
    </div>
    <footer class="container-fluid container-xxl myfooter text-white-50 py-4">
        <div class="text-center" style="font-size: 0.9rem;">
            &copy; 2023 Netflex. All rights reserved.
        </div>
    </footer>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="notificationToast" class="toast align-items-center text-bg-primary border-0" role="alert"
            aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body" id="toastBody">
                </div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/delete.js" asp-append-version="true"></script>

    <script>


        $(document).ready(function () {
            updateSidebarHeight();
            $(window).on("resize", updateSidebarHeight);
            $(window).on("load", scrollToTop);
        });

        function updateSidebarHeight() {
            let mainContent = $(".main-content");
            let sidebar = $(".sidebar");

            if (mainContent.length && sidebar.length) {
                sidebar.css("max-height", mainContent.outerHeight() + "px");
            }
        }

        function scrollToTop() {
            $(window).scrollTop(0);
        }

        $(() => {
            var connection = new signalR.HubConnectionBuilder()
                .withUrl("/notification-hub")
                .build();

            connection.start().catch(err => console.error(err.toString()));

            connection.on("ReceiveNotification", function (message) {
                showToast(message);
            });

            function showToast(message) {
                try {
                    var data = JSON.parse(message);
                    $("#toastBody").html(`<a href="${data.Link}" class="text-black">${data.Message}</a>`);
                    var toast = new bootstrap.Toast(document.getElementById('notificationToast'));
                    toast.show();
                } catch (e) {
                    console.error(e);
                }
            }
        });

    </script>

    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("Styles", required: false)
</body>

</html>
