@using Netflex.Models.Review
@model ReviewViewModel
@{
	
	float Ratings = Model.Rating;
}
<div class="d-flex align-items-center align-items-md-start py-2 border-top border-bottom border-dark gap-2 flex-column flex-md-row">
	<div class="d-flex gap-2">
		<div class="points rounded p-2 d-flex align-items-center justify-content-center">
			<p class="fs-4 fw-bold m-0" id="average-rating">@Model.AverageRating</p>
		</div>
		<div>
			<div class="rating-stars">
				@for (int i = 1; i <= 10; i++)
				{
					<i class="far fa-star" data-value="@i"></i>
				}
			</div>
			<span class="text-white-50 text-xs" id="total-review">
				<i class="fa-solid fa-circle-user"></i> @Model.TotalReviews đánh giá
			</span>
		</div>
	</div>
	<p class="text-xs py-1 rounded text-center my-ratings order-last order-md-0">
		Đánh giá của bạn: <span id="selected-rating" data-rating="@Model.Rating">@Model.Rating</span>
	</p>
</div>


