@model IPagedList<SerieViewModel>

@{
    ViewData["Title"] = "Serie phim";
    Layout = "_Layout";
}

<div class="contain mt-2">
    <h5>Serie phim</h5>
    <p>
        <a asp-controller="serie" asp-action="create">Create New</a>
    </p>

   @if(Model.Count > 0)
   {
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Poster</th>
                    <th>About</th>
                    <th>ProductionYear</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @* @Html.ActionLink(item.Title, "detail", "serie", new { id = item.Id }) *@
                            @Html.ActionLink(item.Title, "index", "episode", new { serieId = item.Id })
                        </td>
                        <td>
                            <img src="@item.Poster" class="img-thumbnail" alt="this is a poster"
                                style="width: 100px; height: 100px; object-fit: cover;">
                        </td>
                        <td class="">
                            @Html.DisplayFor(modelItem => item.About)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductionYear)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "edit", new { id = item.Id }) |
                            <a class="btn btn-danger delete" data-id="@item.Id" data-controller="serie" data-action="delete"
                                data-body-message="Bạn có muốn xóa phim lẻ này">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="row">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions()
            {
                DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                DisplayLinkToNextPage = PagedListDisplayMode.Always,
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" }
                })
    </div>
   } else
   {
       <div class="row text-center">
           <p>Không có serie phim nào</p>
       </div>
   }

</div>
