@model IPagedList<SerieViewModel>
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "Phim bộ";
    Layout = "_Layout";
}

<div class="container">
    <h3 class="text-white text-center my-3">Phim bộ</h3>

    <div id="highlightSerieCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            @for (var i = 0; i < Model.Count(); i += 2)
            {
                <button type="button" data-bs-target="#highlightSerieCarousel" data-bs-slide-to="@((i / 2).ToString())"
                    class="@(i == 0 ? "active" : "")"></button>
            }
        </div>

        <div class="carousel-inner">
            @for (var i = 0; i < Math.Min(Model.Count(), 8); i += 2)
            {
                <div class="carousel-item @(i == 0 ? "active" : "")">
                    <div class="row">
                        @{
                            int count = 0;
                            for (var j = 0; j < 2 && (i + j) < Model.Count(); j++)
                            {
                                var serie = Model[i + j];
                                <div class="col-md-6">
                                    <a href="@Url.Action("detail", "serie", new { id = serie.Id })" class="text-decoration-none">
                                        <div class="position-relative movie-banner">
                                            <img src="@serie.Poster" alt="@serie.Title">
                                            <div class="position-absolute bottom-0 movie-banner-content p-2">
                                                <p class="m-0 text-white text-truncate" style="max-width:10rem;">
                                                    @serie.Title
                                                </p>
                                                <span class="p-0 text-white-50 text-smm">@serie.ProductionYear</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                count++;
                            }
                            if (count == 1)
                            {
                                var serie = Model[0];
                                <div class="col-md-6">
                                    <a href="@Url.Action("detail", "serie", new { id = serie.Id })" class="text-decoration-none">
                                        <div class="position-relative movie-banner">
                                            <img src="@serie.Poster" alt="@serie.Title">
                                            <div class="position-absolute bottom-0 movie-banner-content p-2">
                                                <p class="m-0 text-white text-truncate" style="max-width:10rem;">
                                                    @serie.Title
                                                </p>
                                                <span class="p-0 text-white-50 text-smm">@serie.ProductionYear</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }
                        }
                    </div>
                </div>
            }
        </div>

    </div>
    <div class="d-flex align-items-center my-3">
        <div class="vertical-line"></div>
        <p class="ms-2 mb-0 text-md text-white fw-bold">Phim bộ mới cập nhật</p>
    </div>
    <div class="row">
        @foreach (var serie in Model)
        {
            <div class="col-4 col-md-3 col-xl-2 mb-2 movie-item">
                <a href="@Url.Action("detail", "serie", new { id = serie.Id })" class="text-decoration-none">
                    <div class="position-relative">
                        <img src="@serie.Poster" class="img-6x9" alt="@serie.Title">
                        <i class="fa-solid fa-play position-absolute top-50 start-50 translate-middle fs-1 text-white"></i>
                    </div>
                    <p class="text-white text-truncate mt-2 text-smm" style="max-width: 100%;">
                        @(serie.Title.Length > 20 ? serie.Title.Substring(0, 20) + "..." : serie.Title)
                    </p>
                </a>
            </div>
        }
    </div>

    @if (Model.PageCount >= 1)
    {
        <div class="row">
            <nav class="text-sm">
                <ul class="pagination d-flex gap-2">
                    <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("index", new { page = Model.PageNumber - 1 })">‹</a>
                    </li>

                    @for (int i = 1; i <= Model.PageCount; i++)
                    {
                        if (Model.PageCount > 5 && (i > 2 && i < Model.PageNumber - 1 || i < Model.PageCount - 1 && i >
                        Model.PageNumber + 1))
                        {
                            if (i == 3 || i == Model.PageCount - 2)
                            {
                                <li class="page-item disabled"><span class="page-link">...</span></li>
                            }
                            continue;
                        }
                        <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                            <a class="page-link" href="@Url.Action("index", new { page = i })">@i</a>
                        </li>
                    }

                    <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("index", new { page = Model.PageNumber + 1 })">›</a>
                    </li>
                </ul>
            </nav>
        </div>
    }
</div>
