@model CreateFilmViewModel
@{
    ViewData["Title"] = "Create Film";
    Layout = "_AdminLayout";
}

@section Styles {
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <style>
        .select2-container--default .select2-selection--multiple {
            min-height: 38px;
        }

        .select2-container--default .select2-results__option {
            color: black !important;
        }

        .select2-container--default .select2-results__option--highlighted {
            background-color: #d1d1d1 !important;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            color: black;
        }
    </style>
}
<div class="container col-md-8 offset-md-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="FilmManagement" asp-action="index">Phim lẻ</a></li>
            <li class="breadcrumb-item active" aria-current="page">New Film</li>
        </ol>
    </nav>
    <div class="row card border-light shadow-lg">
        <div class="card-body bg-light">
            <form method="POST" enctype="multipart/form-data" asp-controller="FilmManagement" asp-action="create">
                <div class="form-group mb-3  required">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" type="text" class="form-control border-dark" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group mb-3 ">
                    <label asp-for="About" class="control-label"></label>
                    <textarea asp-for="About" class="form-control border-dark" rows="3"></textarea>
                    <span asp-validation-for="About" class="text-danger"></span>
                </div>
                <div class="form-group mb-3 ">
                    <label asp-for="Trailer" class="control-label"></label>
                    <input asp-for="Trailer" type="text" class="form-control border-dark"
                        placeholder="https://www.youtube.com/watch?v=example" />
                    <span asp-validation-for="Trailer" class="text-danger"></span>
                </div>
                <div class="form-group mb-3  required">
                    <label asp-for="ProductionYear" class="control-label"></label>
                    <input asp-for="ProductionYear" class="form-control border-dark" value="2025" placeholder="2025" />
                    <span asp-validation-for="ProductionYear" class="text-danger"></span>
                </div>
                <div class="form-group mb-3  required">
                    <label class="control-label">AgeCategories</label>
                    <select asp-for="AgeCategoryId" class="form-select border-dark">
                        @foreach (var age in ViewBag.AgeCategories)
                        {
                            <option value="@age.Id">@age.Name</option>
                        }
                    </select>
                    <span asp-validation-for="AgeCategoryId" class="text-danger"></span>

                </div>
                <div class="form-group mb-3  required">
                    <label class="control-label">Actors</label>
                    <select asp-for="ActorIds" class="form-select select2-multiple text-dark" multiple>
                        @foreach (var actor in ViewBag.Actors)
                        {
                            <option class="text-black" value="@actor.Id">@actor.Name</option>
                        }
                    </select>
                </div>

                <div class="form-group mb-3  required">
                    <label class="control-label">Genres</label>
                    <select asp-for="GenreIds" class="form-select select2-multiple" multiple>
                        @foreach (var genre in ViewBag.Genres)
                        {
                            <option value="@genre.Id">@genre.Name</option>
                        }
                    </select>
                </div>

                <div class="form-group mb-3  required">
                    <label class="control-label">Countries</label>
                    <select asp-for="CountryIds" class="form-select select2-multiple" multiple>
                        @foreach (var country in ViewBag.Countries)
                        {
                            <option value="@country.Id">@country.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group mb-3 ">
                    <label asp-for="Poster" class="control-label"></label>
                    <input asp-for="Poster" type="file" class="form-control border-dark" id="posterUpload" />
                    <span asp-validation-for="Poster" class="text-danger"></span>
                    <div class="mt-2">
                        <img id="posterPreview" src="#" alt="Preview Image"
                            class="img-fluid rounded shadow-sm d-none mw-100">
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="File" class="control-label">File .m3u8</label>
                    <input asp-for="File" type="file" class="form-control border-dark" />
                    <span asp-validation-for="File" class="text-danger"></span>
                </div>

                <br />
                <button type="submit" class="btn btn-primary mb-3">Create</button>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>

           

        $(document).ready(function () {
            $('.select2-multiple').select2({
                placeholder: "Select options",
                allowClear: true,
                width: '100%',
            });
            $("#posterUpload").change(function () {
                let input = this;
                if (input.files && input.files[0]) {
                    let reader = new FileReader();
                    reader.onload = function (e) {
                        $("#posterPreview").attr("src", e.target.result).removeClass("d-none");
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            });
        });
    </script>
}