@model EditFilmViewModel
@{
    ViewData["Title"] = "Edit Film";
    Layout = "_AdminLayout";
}
@section Styles {
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <style>
        .select2-container--default .select2-selection--multiple {
            min-height: 38px;
        }

        .select2-container--default .select2-results__option {
            color: black !important;
        }

        .select2-container--default .select2-results__option--highlighted {
            background-color: #d1d1d1 !important;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            color: black;
        }
    </style>
}
<div class="container col-md-8 offset-md-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="FilmManagement" asp-action="index">Phim lẻ</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
        </ol>
    </nav>
    <div class="row card border-light shadow-lg">
        <div class="card-body bg-light">
            <form method="POST" enctype="multipart/form-data" asp-controller="FilmManagement" asp-action="edit">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="PosterUrl" />
                <input type="hidden" asp-for="FileUrl" />

                <div class="form-group required">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" type="text" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="About" class="control-label"></label>
                    <textarea asp-for="About" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="About" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Trailer" class="control-label"></label>
                    <input asp-for="Trailer" type="text" class="form-control"
                        placeholder="https://www.youtube.com/watch?v=example" />
                    <span asp-validation-for="Trailer" class="text-danger"></span>
                </div>
                <div class="form-group required">
                    <label asp-for="ProductionYear" class="control-label"></label>
                    <input asp-for="ProductionYear" class="form-control" value="2025" placeholder="2025" />
                    <span asp-validation-for="ProductionYear" class="text-danger"></span>
                </div>

                @* <div class="form-group required">
                    <label asp-for="AgeCategoryId" class="control-label">Age Category</label>
                    <select class="form-select" asp-for="AgeCategoryId">
                        <option disabled selected>Select a age category</option>
                        <option value="1">0+ Suitable for all ages</option>
                        <option value="2">3+ Designed for very young children</option>
                        <option value="2">7+ Parental guidance suggested</option>
                        <option value="3">12+ May contain moderate violence</option>
                        <option value="3">16+ Stronger themes, violence</option>
                        <option value="3">18+ Restricted to adults</option>
                    </select>
                    <span asp-validation-for="AgeCategoryId" class="text-danger"></span>
                </div> *@
                <div class="form-group required">
                    <label class="control-label">Age Category</label>
                    <select asp-for="AgeCategoryId" class="form-select">
                        @foreach (var age in ViewBag.AgeCategories)
                        {
                            <option value="@age.Id" selected="@(Model.AgeCategoryId == age.Id ? "selected" : null)">
                                @age.Name</option>
                        }

                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Poster" class="control-label"></label>
                    <input asp-for="Poster" type="file" class="form-control" id="posterUpload" />
                    <span asp-validation-for="Poster" class="text-danger"></span>

                    <div class="mt-2">
                        @if (!string.IsNullOrEmpty(Model.PosterUrl))
                        {
                            <img id="posterCurrentImage" src="@Url.Content(Model.PosterUrl)" alt="Current Poster"
                                class="img-fluid rounded shadow-sm mw-100 mb-2">
                        }
                        <img id="posterPreview" src="#" alt="Preview Image"
                            class="img-fluid rounded shadow-sm d-none mw-100">
                    </div>

                    <input type="hidden" asp-for="PosterUrl" id="posterUrlInput" />
                    <input type="hidden" name="KeepExistingPoster" id="keepExistingPoster" value="true" />
                </div>

                <div class="form-group required">
                    <label class="control-label">Actors</label>
                    <select asp-for="ActorIds" class="form-select select2-multiple" asp-items="ViewBag.Actors"
                        multiple></select>
                </div>

                <div class="form-group required">
                    <label class="control-label">Genres</label>
                    <select asp-for="GenreIds" class="form-select select2-multiple" asp-items="ViewBag.Genres"
                        multiple></select>
                </div>

                <div class="form-group required">
                    <label class="control-label">Countries</label>
                    <select asp-for="CountryIds" class="form-select select2-multiple" asp-items="ViewBag.Countries"
                        multiple></select>
                </div>
                
                <div class="form-group">
                    <label asp-for="File" class="control-label">File .m3u8</label>
                    <input asp-for="File" type="file" class="form-control" />
                    <span asp-validation-for="File" class="text-danger"></span>
                </div>

                <br />
                <button type="submit" class="btn btn-primary mb-3">Update</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.select2-multiple').select2({
                placeholder: "Select options",
                allowClear: true,
                width: '100%'
            });

            $("#posterUpload").change(function () {
                let input = this;
                if (input.files && input.files[0]) {
                    let reader = new FileReader();
                    reader.onload = function (e) {
                        $("#posterPreview").attr("src", e.target.result).removeClass("d-none");
                        $("#posterCurrentImage").addClass("d-none");
                        $("#keepExistingPoster").val("false");
                    };
                    reader.readAsDataURL(input.files[0]);
                } else {
                    $("#posterPreview").addClass("d-none");
                    $("#posterCurrentImage").removeClass("d-none");
                    $("#keepExistingPoster").val("true");
                }
            });
        });
    </script>
}