@model IEnumerable<Netflex.Models.BlogViewModel>

@{
    ViewData["Title"] = "Blog Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Blog Management</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Thumbnail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreaterId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td> *@
            <td>
                @Html.Raw(item.Content)
            </td>
            <td>
            @if (!string.IsNullOrEmpty(item.Thumbnail))
            {
                <img src="@item.Thumbnail" alt="Thumbnail" width="auto" height="auto" />
            }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreaterId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
