@model IPagedList<FilmViewModel>
@using X.PagedList.Mvc.Core
@{
    Layout = "_Layout";
}

<div class="container">
    <h2 class="text-white text-center mt-3">@ViewData["Title"]</h2>
    @if (Model.Count == 0)
    {
        <h4 class="text-white mt-4 mb-4">Phim đang được cập nhật!</h4>
    }
    else
    {

        <h4 class="text-white mt-4 mb-4">@ViewData["Title"] mới cập nhật</h4>
        <div class="row">
            @foreach (var film in Model)
            {
                <div class="col-md-2 mb-4">
                    <a href="@Url.Action("Detail", "Film", new { id = film.Id })" class="text-decoration-none">
                        <div class="position-relative">
                            <img src="@film.Poster" class="img-6x9 rounded" alt="@film.Title">
                            @* <span class="badge bg-primary position-absolute bottom-0 start-0 m-2">HD VIETSUB</span> *@
                        </div>
                        <p class="text-white text-truncate mt-2 text-smm" style="max-width: 100%;">@(film.Title.Length > 20 ?
                    film.Title.Substring(0, 20) + "..." : film.Title)</p>
                    </a>
                </div>
            }
        </div>

        <nav class="d-flex justify-content-center mt-3">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
   {
       LiElementClasses = new string[] { "page-item" },
       PageClasses = new string[] { "page-link" }
   })
        </nav>
    }
</div>
