@model IPagedList<DetailFilmViewModel>
@using X.PagedList.Mvc.Core

@{
	Layout = "_Layout";
	ViewData["Title"] = "Search";
}
<style>
	.img-fluid.rounded {
		width: 180px;
		height: 180px;
		object-fit: cover;
		border-radius: 8px;
	}

	.search {
		width: 100%;
		background: transparent;
		border: none;
		outline: none;
	}

	.search-icon {
		background: none;
		border: none;
		color: white;
		cursor: pointer;
	}

	.pagination {
		margin-top: 20px;
	}

	.page-item .page-link {
		color: white;
		background: rgba(255, 255, 255, 0.1);
		border: none;
		margin: 0 5px;
	}

	.page-item.active .page-link {
		background: #0D6EFD;
	}
</style>

<div class="container">
	<div class="d-flex align-items-center my-3">
		<div class="vertical-line"></div>
		<p class="ms-2 mb-0 text-md text-white fw-bold">Kết quả tìm kiếm:</p>
	</div>

	@if (Model.Count == 0)
	{
		<h4 class="text-white text-center mt-4 mb-4">Phim đang được cập nhật!</h4>
	}
	else
	{
		<form class="search-box" action="@Url.Action("SearchByTitle", "Film")">
			<input class="search" type="text" placeholder="Tìm kiếm phim..." name="searchTitle">
			<button type="submit" class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></button>
		</form>

		<div class="row">
			@foreach (var film in Model)
			{

				<a href="@Url.Action("Detail", "Film", new { id = film.Id })" class="text-white">
					<div class="card bg-transparent text-white p-1 mb-1">
						<div class="row g-0">
							<div class="col-md-3">
								<div class="position-relative">
									<img src="@film.Poster" alt="@film.Title" class="img-fluid rounded">
								</div>
							</div>
							<div class="col-md-9">
								<div class="card-body">
									<h5 class="card-title film-title">
										@(film.Title)
									</h5>
									<p class="card-text film-age">@film.AgeCategory</p>
									<p class="card-text film-about">@film.About</p>
								</div>
							</div>
						</div>
					</div>
				</a>
				<hr class="text-white" />
			}
		</div>

		<nav class="d-flex justify-content-center pagination">
			@Html.PagedListPager(Model, page => Url.Action("SearchByTitle", new { page }), new PagedListRenderOptions
{
	LiElementClasses = new string[] { "page-item" },
	PageClasses = new string[] { "page-link" }
})
		</nav>
	}
</div>
