@using Microsoft.AspNetCore.Identity
@using Netflex.Entities
@using System.Security.Claims

@model DetailFilmViewModel
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = Model.Title;
    Layout = "_Layout";
    var userLoginProvider = User.FindFirstValue(ClaimTypes.AuthenticationMethod);
    bool isLoggedIn = !string.IsNullOrEmpty(userLoginProvider);
    string loginProvider = isLoggedIn ? userLoginProvider ?? "Unknown" : "Not logged in";
    bool isFacebookLogin = isLoggedIn && userLoginProvider == "Facebook";
    
}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-2">
            <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a asp-controller="film" asp-action="index">Phim
                    lẻ</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-12">
            <div class="video-container">
                <video id="video" controls>
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>

    <div class="d-flex my-4 gap-4 movie-card">
        <img src="@Model.Poster" class="poster" alt="Movie Poster">

        <div class="flex-grow-1">
            <div class="d-flex align-items-center py-2 gap-2 flex-column flex-md-row">
                <h4 class="mb-0" style="color: whitesmoke;">@Model.Title</h4>
                <div class="nav-link tab follow-btn" id="followButton" data-film-id="@Model.Id" data-bs-toggle="pill"
                    data-bs-target="#pills-actor" type="submit" role="tab" aria-controls="pills-actor"
                    aria-selected="false" onclick="toggleFollow(this, '@SignInManager.IsSignedIn(User)')">
                    @if (Model.IsFollowed)
                    {
                        <i class="fa-solid fa-bookmark" style="margin-right: 8px;"></i>
                        <span>Đã theo dõi</span>
                    }
                    else
                    {
                        <i class="fa-regular fa-bookmark" style="margin-right: 8px;"></i>
                        <span>Theo dõi</span>
                    }
                </div>
            </div>
            <div>
                <p class="text-white-50 text-sm mb-1">@Model.Title @Model.ProductionYear</p>
                <p class="text-sm">
                    <span class="date">@Model.CreatedAt.ToString("MMM. dd, yyyy")</span>&nbsp;&nbsp;&nbsp;
                    @foreach (var country in ViewBag.FilmCountries)
                    {
                        <span>@country </span>
                    }
                    &nbsp;&nbsp;&nbsp;
                </p>
            </div>

            <div id="review-container">

            </div>
            <div class="mt-2 genres">
                @foreach (var item in ViewBag.Genres)
                {
                    <a class="text-sm" href="@Url.Action("Index", "film", new { genreId = item.Id })">@item.Name</a>
                }
            </div>
        </div>
    </div>

    <div class="movie-card py-3 border-top border-bottom border-line border-2">
        <ul class="nav nav-pills mb-3 text-smm" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active tab" id="pills-info-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-info" type="button" role="tab" aria-controls="pills-info"
                    aria-selected="true">Thông tin</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link tab" id="pills-actor-tab" data-bs-toggle="pill" data-bs-target="#pills-actor"
                    type="button" role="tab" aria-controls="pills-actor" aria-selected="false">Diễn viên</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab">
                <p class="text-smm">@Model.About</p>
                @if (Model.Trailer is not null)
                {
                    <div class="ratio ratio-16x9">
                        <iframe src="@Model.Trailer" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                }
            </div>
            <div class="tab-pane fade" id="pills-actor" role="tabpanel" aria-labelledby="pills-actor-tab">
                <div class="row g-3">
                    @foreach (var item in ViewBag.Actors)
                    {
                        <a href="#" class="person col-6 col-md-4">
                            <img src=@(item.Photo != null ? item.Photo :"https://placehold.co/400X400/png")
                                alt="Movie Poster">
                            <div class="p-2">
                                <p class="text-truncate" style="max-width:10rem;">@item.Name
                                </p>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>

    @if (isFacebookLogin)
    {
        <div class="comment-section mt-3">
            <div class="fb-comments" data-href="@ViewData["Domain"]/Film/Details/@Model.Id" data-width="100%"
                data-numposts="5"></div>
        </div>
    }
    else
    {
        @if (isLoggedIn)
        {
            <p>Login Provider: @loginProvider</p>
            <p><a href="https://www.facebook.com/v14.0/dialog/oauth?client_id=652761647319873&scope=email&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2Fsignin-facebook&code_challenge=ZqYvdQTL-5EWO4lVtOBqtUzd5Qcw-1otqhnYr-WJCho&code_challenge_method=S256&state=CfDJ8FU5GHcfszFJvj2kWI-SBml5UzZiGeec0NQtDaXaigUPlNu9E7G3BWTdneuHqQ5Pv-9Toc6E3mXpm-LsFrZ52Oue-vWkSitFwt2Yo73a5oL9E9O-asESC-R4zYBoP9iy6YvPOwQGp0Z8ASgy6WMM4j9oyMg0Kx1Rq4WgE8jTSztF2HT8U--uyJ0vR8D8m9oB-imz6x1KMP9eok5_ID-UbKXziQ4a7HgshJIDzAIZnXUMdwRuWA2YlAc2YSyd-y-_E_2kREwMG9CtRoL8n1iQfCejIdfNvubkGLCWI8FXsPD5mfs6Fa8Z6tHxl2xgR9J-YCHCBGHRSJdcPQPs5Vq7JD4x2O-MnsGBltiakUwpM9-o">Đăng nhập bằng Facebook</a> để comment.</p>
            
        }
        else
        {
            <p>Login Provider: @loginProvider</p>
            <p>Bạn chưa đăng nhập tài khoản. <a href="https://www.facebook.com/v14.0/dialog/oauth?client_id=652761647319873&scope=email&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2Fsignin-facebook&code_challenge=ZqYvdQTL-5EWO4lVtOBqtUzd5Qcw-1otqhnYr-WJCho&code_challenge_method=S256&state=CfDJ8FU5GHcfszFJvj2kWI-SBml5UzZiGeec0NQtDaXaigUPlNu9E7G3BWTdneuHqQ5Pv-9Toc6E3mXpm-LsFrZ52Oue-vWkSitFwt2Yo73a5oL9E9O-asESC-R4zYBoP9iy6YvPOwQGp0Z8ASgy6WMM4j9oyMg0Kx1Rq4WgE8jTSztF2HT8U--uyJ0vR8D8m9oB-imz6x1KMP9eok5_ID-UbKXziQ4a7HgshJIDzAIZnXUMdwRuWA2YlAc2YSyd-y-_E_2kREwMG9CtRoL8n1iQfCejIdfNvubkGLCWI8FXsPD5mfs6Fa8Z6tHxl2xgR9J-YCHCBGHRSJdcPQPs5Vq7JD4x2O-MnsGBltiakUwpM9-o">Đăng nhập bằng Facebook</a> để comment.</p>
        }
    }

    <div class="movie-card mt-2">
        <p class="text-base text-white">Phim liên quan</p>
        <div class="row">
            @if (ViewBag.RelatedFilms != null && ViewBag.RelatedFilms.Count > 0)
            {
                @foreach (var film in ViewBag.RelatedFilms)
                {
                    <div class="col-4 col-md-3 col-xl-2 mb-2">
                        <a href="@Url.Action("detail", "film", new { id = film.Id })" class="text-decoration-none">
                            <div class="position-relative">
                                <img src="@film.Poster" class="img-6x9 rounded" alt="@film.Title">
                            </div>
                            <p class="text-white text-truncate mt-2 text-smm" style="max-width: 100%;">@(film.Title.Length > 20
                                                        ?
                                                        film.Title.Substring(0, 20) + "..." : film.Title)</p>
                </a>
            </div>
                        }
            }
        </div>
    </div>
</div>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v22.0&appId=1589497395335451"></script>
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script src="~/js/rating.js"></script>
    <script>
        $(document).ready(function () {
            let video = $("#video").get(0);
            video.disablePictureInPicture = true;
            video.addTextTrack("captions");

            if (Hls.isSupported()) {
                let hls = new Hls({
                    debug: true,
                });
                hls.loadSource(@Html.Raw(Json.Serialize(Model.Path)));
                hls.attachMedia(video);
                hls.on(Hls.Events.MEDIA_ATTACHED, function () {
                    video.muted = true;
                });
            } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
                video.src = @Html.Raw(Json.Serialize(Model.Path));
            }
        });
    </script>
    <script>
        async function toggleFollow(button, isLogin) {
            if (isLogin == "False") {
                window.location.href = "/Identity/Account/Login";
                return;
            } else if (isLogin == "True") {
                const filmId = button.getAttribute("data-film-id");

                const isFollowed = button.querySelector("i").classList.contains("fa-regular");
                button.innerHTML = isFollowed
                    ? '<i class="fa-solid fa-bookmark" style="margin-right: 8px;"></i><span>Đã theo dõi</span>'
                    : '<i class="fa-regular fa-bookmark" style="margin-right: 8px;"></i><span>Theo dõi</span>';

                try {
                    const response = await fetch("/follow/toggleFollowFilm", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                            "RequestVerificationToken": document.querySelector('input[name="__RequestVerificationToken"]').value
                        },
                        body: JSON.stringify(filmId)
                    });
                } catch (error) {
                    button.innerHTML = isFollowed
                        ? '<i class="fa-regular fa-bookmark" style="margin-right: 8px;"></i><span>Theo dõi</span>'
                        : '<i class="fa-solid fa-bookmark" style="margin-right: 8px;"></i><span>Đã theo dõi</span>';
                }
            }
        }
    </script>
}