@model IPagedList<FilmViewModel>
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "Phim lẻ";
    Layout = "_Layout";
}

<div class="container">
    <h3 class="text-white text-center my-3">Phim lẻ</h3>

    <div id="highlightCarousel" class="carousel slide mb-5" data-bs-ride="carousel">
        <div class="carousel-indicators">
            @for (var i = 0; i < Model.Count(); i += 2)
            {
                <button type="button" data-bs-target="#highlightCarousel" data-bs-slide-to="@((i / 2).ToString())"
                    class="@(i == 0 ? "active" : "")"></button>
            }
        </div>

        <div class="carousel-inner">
            @for (var i = 0; i < Model.Count(); i += 2)
            {
                <div class="carousel-item @(i == 0 ? "active" : "")">
                    <div class="row">
                        @for (var j = 0; j < 2 && (i + j) < Model.Count(); j++)
                        {
                            var film = Model[i + j];
                            <div class="col-md-6">
                                <a href="@Url.Action("Detail", "Film", new { id = film.Id })" class="text-decoration-none">
                                    <div class="position-relative movie-banner">
                                        <img src="@film.Poster" alt="@film.Title">
                                        <div class="position-absolute bottom-0 movie-banner-content p-2">
                                            <p class="m-0 text-white text-truncate" style="max-width:10rem;">
                                                @film.Title
                                            </p>
                                            <span class="p-0 text-white-50 text-smm">@film.ProductionYear</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="d-flex align-items-center my-3 mt-5">
        <div class="vertical-line"></div>
        <p class="ms-2 mb-0 text-md text-white fw-bold">Phim lẻ mới cập nhật</p>
    </div>
    <div class="row">
        @foreach (var film in Model)
        {
            <div class="col-4 col-md-3 col-xl-2 mb-2">
                <a href="@Url.Action("Detail", "Film", new { id = film.Id })" class="text-decoration-none">
                    <div class="position-relative">
                        <img src="@film.Poster" class="img-6x9 rounded" alt="@film.Title">
                        @* <span class="badge bg-primary position-absolute bottom-0 start-0 m-2">HD VIETSUB</span> *@
                    </div>
                    <p class="text-white text-truncate mt-2 text-smm" style="max-width: 100%;">@(film.Title.Length > 20 ?
                    film.Title.Substring(0, 20) + "..." : film.Title)</p>
                </a>
            </div>
        }
    </div>

    <!-- Phân trang -->
    <nav class="d-flex justify-content-center mt-3">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
   {
       LiElementClasses = new string[] { "page-item" },
       PageClasses = new string[] { "page-link" }
   })
    </nav>
</div>
