@model DetailFilmViewModel
@{
    ViewData["Title"] = Model.Title;
    Layout = "_adminLayout";
    float Ratings = 8.6f;
}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-2">
            <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a asp-controller="film" asp-action="index">Phim
                    lẻ</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-12">
            <div class="video-container">
                <video id="video" controls>
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>

    <div class="d-flex my-4 gap-4 movie-card">
        <img src="@Model.Poster" class="poster" alt="Movie Poster">

        <div class="flex-grow-1">
            <h4 class="mb-0" style="color: whitesmoke;">@Model.Title</h4>
            <div>
                <p class="text-white-50 text-sm mb-1">@Model.Title @Model.ProductionYear</p>
                <p class="text-sm"><span class="date">Dec. 31, 2023</span>&nbsp;&nbsp;&nbsp;China&nbsp;&nbsp;&nbsp;</p>
            </div>
            <div
                class="d-flex align-items-center align-items-md-start py-2 border-top border-bottom border-dark gap-2 flex-column flex-md-row">
                <div class="d-flex gap-2">
                    <div class="points rounded p-2 d-flex align-items-center justify-content-center">
                        <p class="fs-4 fw-bold m-0">@Ratings</p>
                    </div>
                    <div>
                        <div class="rating-stars">
                            @for (int i = 1; i <= 10; i++)
                            {
                                <i class="far fa-star" data-value="@i"></i>
                            }
                        </div>
                        <span class="text-white-50 text-xs "><i class="fa-solid fa-circle-user"></i> 69 đánh giá</span>
                    </div>
                </div>
                <p class="text-xs py-1 rounded text-center my-ratings order-last order-md-0">Đánh giá của bạn: <span
                        id="selected-rating">0</span></p>
            </div>
            <div class="mt-2 genres">
                <a class="text-sm" href="#">Phim Hoạt Hình</a>
                <a class="text-sm" href="#">Phim Hài</a>
            </div>
        </div>
    </div>

    <div class="movie-card py-3 border-top border-bottom border-dark border-2">
        <ul class="nav nav-pills mb-3 text-smm" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active tab" id="pills-info-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-info" type="button" role="tab" aria-controls="pills-info"
                    aria-selected="true">Thông tin</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link tab" id="pills-actor-tab" data-bs-toggle="pill" data-bs-target="#pills-actor"
                    type="button" role="tab" aria-controls="pills-actor" aria-selected="false">Diễn viên</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab">
                <p class="text-smm">@Model.About</p>
            </div>
            <div class="tab-pane fade" id="pills-actor" role="tabpanel" aria-labelledby="pills-actor-tab">
                <div class="row g-3">
                    <a href="#" class="person col-6 col-md-4">
                        <img src="https://placehold.co/400X400/png" alt="Movie Poster">
                        <div class="p-2">
                            <p class="text-truncate" style="max-width:10rem;">Diễn viên 1
                            </p>
                        </div>
                    </a>
                    <a href="#" class="person col-6 col-md-4">
                        <img src="https://placehold.co/400X400/png" alt="Movie Poster">
                        <div class="p-2">
                            <p class="text-truncate" style="max-width:10rem;">Diễn viên 2
                            </p>
                        </div>
                    </a>
                    <a href="#" class="person col-6 col-md-4">
                        <img src="https://placehold.co/400X400/png" alt="Movie Poster">
                        <div class="p-2">
                            <p class="text-truncate" style="max-width:10rem;">Diễn viên 3
                            </p>
                        </div>
                    </a>
                    <a href="#" class="person col-6 col-md-4">
                        <img src="https://placehold.co/400X400/png" alt="Movie Poster">
                        <div class="p-2">
                            <p class="text-truncate" style="max-width:10rem;">Diễn viên 4
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="movie-card mt-2">
        <p class="text-base text-white">Phim liên quan</p>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script>
        $(document).ready(function () {
            let stars = $(".rating-stars i");
            let selected = $("#selected-rating");
            let ratings = Math.floor(@Ratings);

            highlight(ratings);

            stars.on("mouseover", function () {
                let value = $(this).data("value");
                highlight(value);
            });

            stars.on("mouseout", function () {
                let currentValue = selected.text().trim() === "0" ? ratings : selected.text();
                highlight(currentValue);
            });

            stars.on("click", function () {
                selected.text($(this).data("value"));
            });

            function highlight(value) {
                stars.each(function () {
                    let starValue = parseInt($(this).data("value"));
                    $(this).toggleClass("fas", starValue <= value);
                    $(this).toggleClass("far", starValue > value);
                });
            }
        });
    </script>
    <script>
        $(document).ready(function () {
            let video = $("#video").get(0);
            video.disablePictureInPicture = true;
            video.addTextTrack("captions");

            if (Hls.isSupported()) {
                let hls = new Hls({
                    debug: true,
                });
                hls.loadSource(@Html.Raw(Json.Serialize(Model.Path)));
                hls.attachMedia(video);
                hls.on(Hls.Events.MEDIA_ATTACHED, function () {
                    video.muted = true;
                });
            } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
                video.src = @Html.Raw(Json.Serialize(Model.Path));
            }
        });
    </script>
}