@model IPagedList<Netflex.Models.Blog.BlogViewModel>

@{
    ViewData["Title"] = "Blogs";
    Layout = "_Layout";
}

<div class="container">
    <div class="d-flex justify-content-between align-items-center my-3">
        <div class="d-flex align-items-center">
            <div class="vertical-line"></div>
            <p class="ms-2 mb-0 text-md text-white fw-bold">Tin tức</p>
        </div>
    </div>
    <div class="row">
        @foreach (var blog in Model)
        {
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <img src="@blog.Thumbnail" alt="Blog Thumbnail" class="card-img-top rounded-0"
                    style="height: 12rem; object-fit: cover;">
                <div class="mt-2 text-smm">
                    <a href="@Url.Action("Details", "Blog", new { id = blog.Id })" class="text-white text-base">
                        @Html.Raw(blog.Title.Length > 50 ? blog.Title.Substring(0, 50) + "..." : blog.Title)
                    </a>
                    <br />
                    <div class="my-1">
                        <strong class="text-sm">@blog.CreatorName</strong>
                        <span class="text-sm fst-italic">@blog.CreatedAt.ToString("MMMM d, yyyy")</span>
                    </div>
                    @Html.Raw(blog.Content.Length > 100 ? blog.Content.Substring(0, 100) + "..." : blog.Content)
                </div>
            </div>
        }
    </div>

    @if (Model.PageCount > 1)
    {
        <div class="row">
            <nav class="text-sm">
                <ul class="pagination d-flex gap-2">
                    <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("index", new { page = Model.PageNumber - 1 })">‹</a>
                    </li>

                    @for (int i = 1; i <= Model.PageCount; i++)
                    {
                        if (Model.PageCount > 5 && (i > 2 && i < Model.PageNumber - 1 || i < Model.PageCount - 1 && i >
                        Model.PageNumber + 1))
                        {
                            if (i == 3 || i == Model.PageCount - 2)
                            {
                                <li class="page-item disabled"><span class="page-link">...</span></li>
                            }
                            continue;
                        }
                        <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                            <a class="page-link" href="@Url.Action("index", new { page = i })">@i</a>
                        </li>
                    }

                    <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("index", new { page = Model.PageNumber + 1 })">›</a>
                    </li>
                </ul>
            </nav>
        </div>
    }
</div>
