@model DetailEpisodeViewModel
@{
    ViewData["Title"] = Model.Title;
    Layout = "_Layout";
    float Ratings = 8.6f;
}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-2">
            <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a asp-controller="serie" asp-action="index">Phim
                    bộ</a></li>
            <li class="breadcrumb-item"><a href="/serie/detail/@ViewData["SerieId"]">@ViewData["SerieTitle"]</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tập @Model.Number</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-12">
            <div class="video-container">
                <video id="video" controls>
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>

    <div class="d-flex mt-4 gap-4 movie-card">
        <div class="flex-grow-1">
            <h4 class="text-base" style="color: whitesmoke;">Chọn tập phim</h4>
            <div class="d-flex gap-2 my-3 border-bottom border-line pb-4">
                @for (int i = 1; i <= ViewBag.Episodes.Count; i++)
                {
                    bool isActive = i == Model.Number;
                    <div class="rounded-pill">
                        <a asp-controller="episode" asp-action="detail" asp-route-id="@ViewBag.Episodes[i - 1].Id"
                            class="border border-line rounded-3 episode-link @(isActive ? "bg-dark text-secondary disabled" : "bg-secondary text-white") py-2 px-3 text-sm"
                            style="@(isActive ? "pointer-events: none;" : "")">
                            Tập @ViewBag.Episodes[i - 1].Number
                        </a>

                    </div>
                }
            </div>
            <h5 class="mb-0" style="color: whitesmoke;">@ViewData["SerieTitle"] - Tập @Model.Number</h5>

            <div class="mt-2 genres">
                @foreach (var genre in ViewBag.Genres)
                {
                    <a class="text-sm" href="@Url.Action("Index", "film", new { genreId = genre.Id })">@genre.Name</a>
                }
            </div>
        </div>
    </div>

    <div class="movie-card py-3 border-line border-bottom border-2">
        <ul class="nav nav-pills mb-3 text-smm" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active tab" id="pills-info-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-info" type="button" role="tab" aria-controls="pills-info"
                    aria-selected="true">Thông tin</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link tab" id="pills-actor-tab" data-bs-toggle="pill" data-bs-target="#pills-actor"
                    type="button" role="tab" aria-controls="pills-actor" aria-selected="false">Diễn viên</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab">
                <p class="text-smm">@Model.About</p>
            </div>
            <div class="tab-pane fade" id="pills-actor" role="tabpanel" aria-labelledby="pills-actor-tab">
                <div class="row g-3">
                    @foreach (var item in ViewBag.Actors)
                    {
                        <a href="#" class="person col-6 col-md-4">
                            <img src=@(item.Photo != null ? item.Photo :"https://placehold.co/400X400/png")
                                alt="Movie Poster">
                            <div class="p-2">
                                <p class="text-truncate" style="max-width:10rem;">@item.Name
                                </p>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="comment-section mt-3">
        <div class="fb-comments" data-href="@ViewData["Domain"]/Episode/Details/@Model.Number" data-width="100%"
            data-numposts="5"></div>
    </div>
    <div class="movie-card mt-2">
        <p class="text-base text-white">Phim liên quan</p>
    </div>
</div>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v22.0&appId=1589497395335451"></script>
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script>
        $(document).ready(function () {
            let stars = $(".rating-stars i");
            let selected = $("#selected-rating");
            let ratings = Math.floor(@Ratings);

            highlight(ratings);

            stars.on("mouseover", function () {
                let value = $(this).data("value");
                highlight(value);
            });

            stars.on("mouseout", function () {
                let currentValue = selected.text().trim() === "0" ? ratings : selected.text();
                highlight(currentValue);
            });

            stars.on("click", function () {
                selected.text($(this).data("value"));
            });

            function highlight(value) {
                stars.each(function () {
                    let starValue = parseInt($(this).data("value"));
                    $(this).toggleClass("fas", starValue <= value);
                    $(this).toggleClass("far", starValue > value);
                });
            }
        });
    </script>
    <script>
        $(document).ready(function () {
            let video = $("#video").get(0);
            video.disablePictureInPicture = true;
            video.addTextTrack("captions");

            if (Hls.isSupported()) {
                let hls = new Hls({
                    debug: true,
                });
                hls.loadSource(@Html.Raw(Json.Serialize(Model.File)));
                hls.attachMedia(video);
                hls.on(Hls.Events.MEDIA_ATTACHED, function () {
                    video.muted = true;
                });
            } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
                video.src = @Html.Raw(Json.Serialize(Model.File));
            }
        });
    </script>
}