@model IPagedList<EpisodeViewModel>

@{
    ViewData["Title"] = ViewData["SerieTitle"];
    Layout = "_Layout";
}

<div class="contain mt-2">
    <h5>@ViewData["SerieTitle"]</h5>
    <p>
        <a asp-controller="episode" asp-action="create" asp-route-serieId="@ViewData["SerieId"]" asp-route-serieTitle="@ViewData["SerieTitle"]">Create New</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>About</th>
                <th>Number</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Title, "detail", "episode", new { id = item.Id })
                    </td>
                 
                    <td>
                        @Html.DisplayFor(modelItem => item.About)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                
                    <td>
                        @Html.ActionLink("Edit", "edit", new { id = item.Id }) |
                        <a class="btn btn-danger delete" data-id="@item.Id" data-controller="episode" data-action="delete"
                            data-body-message="Bạn có muốn xóa tập phim này">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions()
   {
       DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
       DisplayLinkToNextPage = PagedListDisplayMode.Always,
       LiElementClasses = new string[] { "page-item" },
       PageClasses = new string[] { "page-link" }
   })
    </div>

</div>
